@font-face {
  font-family: Gramatika;
  src: url('../fonts/Gramatika-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Gramatika;
  src: url('../fonts/Gramatika-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: GramatikaShifted;
  src: url('../fonts/Gramatika-Shifted.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: CoFoKak;
  src: url('../fonts/CoFo-Kak-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
