@import './normalize';
@import './fonts';
@import './transitions';

html {
  font-family: $main-font-family;
  color: white;
}

html, body {
  overflow: hidden;
  height: 100%;
  box-sizing: border-box;
}

body.inactive.work-open .wrapper {
  display: flex;
}

body {
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

.nowrap {
  white-space: nowrap;
}

.threeVideo {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  opacity: 0.001;
  z-index: 1;
  pointer-events: none;
}
